# Name : Yahya Ahmad
# Reg No : 23jzele0528
# Saminar Task : Loops

# Task No 01

In [1]:
# Print numbers from 1 to 10 using a for loop.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Task No 02

In [5]:
# Print a multiplication table for a given number (3) using a for loop.
num = 3
for i in range(1,11):
    table_3 = num * i
    print(f"{num} * {i} = {table_3}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

# Task No 03

In [1]:
# Create a function to add two numbers.
def addition(a,b):
    return a+b
addition(4,6)

10

# Task No 04

In [2]:
# Use a lambda function to find the square of a number.
square = lambda x: x**2
square(8)

64

# Task No 05

In [4]:
# Use f-strings to insert a variable in a sentence.
name = "Yahya Ahmad"
f_string = f'I am {name}.'
print(f_string)

I am Yahya Ahmad.