# Name : Yahya Ahmad
# Reg No : 23jzele0528
# Saminar Task : Tuple, List and Dictionary

# Task no 01

In [35]:
# Create a list of 5 colors: ['red', 'blue', 'green', 'yellow', 'purple'].
# Add two more colors at the end of the list.
# Remove the color 'green' from the list.
# Sort the list alphabetically.
my_list = ['red', 'blue', 'green', 'yellow', 'purple']
print(my_list)
my_list.append('brown')
print(my_list)
my_list.append('black')
print(my_list)
my_list.pop(2)
print(my_list)
my_list.sort()
print(my_list)

['red', 'blue', 'green', 'yellow', 'purple']
['red', 'blue', 'green', 'yellow', 'purple', 'brown']
['red', 'blue', 'green', 'yellow', 'purple', 'brown', 'black']
['red', 'blue', 'yellow', 'purple', 'brown', 'black']
['black', 'blue', 'brown', 'purple', 'red', 'yellow']

# Task no 02

In [34]:
# Create a list of numbers from 1 to 10.
# Reverse the list.
# Find the sum of all the numbers in the list
mylist=[1,2,3,4,5,6,7,8,9,10]
print(mylist)
mylist.reverse()
print(mylist)
print(sum(mylist))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
55

# Task No 03

In [33]:
# Create a list list1 with three items: 'apple', 'banana', and 'cherry'.
# Create a new list list2 that contains all the elements from list1 but without using append() or extend().
list1 = ['apple', 'banana','charry']
print(list1)
list2 = list1
print('list2 that contain all the elements of list1 ',list2)

['apple', 'banana', 'charry']
list2 that contain all the elements of list1  ['apple', 'banana', 'charry']

# Task No 04

In [30]:
# Create a list of numbers [5, 10, 15, 20, 25].
# Use slicing to get the first 3 elements.
# Replace the last two numbers with 100 and 200
My_list = [5,10,15,20,25]
print(My_list)
print(My_list[:3])
My_list[-2:] = [100,200]
print(My_list)

[5, 10, 15, 20, 25]
[5, 10, 15]
[5, 10, 15, 100, 200]

# Task No 05

In [29]:
# Create a tuple my_tuple = ('dog', 'cat', 'rabbit', 'hamster').
# Access the second element in the tuple and print it.
# Convert the tuple into a list, modify the list by adding 'bird', and convert it back into a tuple.
My_tuple = ('dog','cat','rabbit','hamster')
print(My_tuple)
print(My_tuple[1])
list1 = list(My_tuple)
print(list1)
list1.append('brid')
print(list1)
My_tuple=tuple(list1)
print(My_tuple)

('dog', 'cat', 'rabbit', 'hamster')
cat
['dog', 'cat', 'rabbit', 'hamster']
['dog', 'cat', 'rabbit', 'hamster', 'brid']
('dog', 'cat', 'rabbit', 'hamster', 'brid')

# Task No 06

In [27]:
# Create two tuples: t1 = (1, 2, 3) and t2 = (4, 5, 6).
# Concatenate t1 and t2 to form a new tuple t3.
# Find the length of t3.
t1 = (1,2,3)
print(t1)
t2 = (4,5,6)
print(t2)
t3 = t1 + t2
print(t3)
print(len(t3))

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)
6

# Task No 07

In [26]:
# Create a tuple with numbers: (5, 10, 5, 20, 5).
# Count how many times the number 5 appears in the tuple.
# Find the index of the number 20.
My_tuple = (5,10,5,20,5)
print(My_tuple)
print(My_tuple.index(20))
print(My_tuple.count(5))

(5, 10, 5, 20, 5)
3
3

# Task No 08

In [25]:
# Create a dictionary with the following key-value pairs: {"name": "John", "age": 25, "city": "New York"}.
# Add a new key "job" with the value "Engineer".
# Update the "age" key to 26.
# Remove the "city" key
My_dict = {"name": "Yahya Ahmad", "age": 21, "city": "Swabi"}
print(My_dict)
My_dict["job"] = "engineer"
print(My_dict)
My_dict.update({'age': 22})
print(My_dict)
print(My_dict.pop('city'))

{'name': 'Yahya Ahmad', 'age': 21, 'city': 'Swabi'}
{'name': 'Yahya Ahmad', 'age': 21, 'city': 'Swabi', 'job': 'engineer'}
{'name': 'Yahya Ahmad', 'age': 22, 'city': 'Swabi', 'job': 'engineer'}
Swabi

# Task No 09

In [18]:
# Create a dictionary fruit_prices = {"apple": 100, "banana": 40, "mango": 120}.
# Print the price of "mango".
# Add "orange" to the dictionary with a price of 60.
# Check if "grapes" is in the dictionary.
fruit_price = {"apple": 100, "banana": 40, "mango": 120}
print(fruit_price)
print(fruit_price['mango'])
fruit_price['orange'] = 60
print(fruit_price)
if 'graps' in fruit_price:
    print('Ture)

SyntaxError: EOL while scanning string literal (2485899619.py, line 7)

# Task No 10

In [5]:
# Create a dictionary where the keys are product names, and the values are their prices: {'Laptop': 75000, 'Phone': 45000,'Tablet': 25000}.
# Add a new product, 'Headphones', with a price of 3000.
# Update the price of 'Phone' to 40000.
# Remove 'Tablet' from the dictionary.
# Print the total number of products in the dictionary.

dictt ={'Laptop': 75000, 'Phone': 45000,'Tablet': 25000}
print(dictt)
dictt['Headphone'] = 20000
print(dictt)
dictt.update({'Phone': 40000})
print(dictt)
dictt.pop('Tablet')
print(dictt)
print(len(dictt))

{'Laptop': 75000, 'Phone': 45000, 'Tablet': 25000}
{'Laptop': 75000, 'Phone': 45000, 'Tablet': 25000, 'Headphone': 20000}
{'Laptop': 75000, 'Phone': 40000, 'Tablet': 25000, 'Headphone': 20000}
{'Laptop': 75000, 'Phone': 40000, 'Headphone': 20000}
3