In [ ]:
# not collection data means one value overwrite on another value like;
x = 4
x = 2
print(x)

In [3]:
# list of constant;
print([2,3,5,8,34,567,856])
print(['green','red','tomato'])
print([ 5, 2, 'Ali',[4,7],[]])

[2, 3, 5, 8, 34, 567, 856]
['green', 'red', 'tomato']
[5, 2, 'Ali', [4, 7], []]

In [5]:
# LIST;
for u in [4, 5, 7, 3, 4, 5,]:
    print(u)

4
5
7
3
4
5

In [6]:
# list and definite loop;
q = ['Abbas','Idrees','Noman','Kashif']
for z in q:
    print('How are you',z)

How are you Abbas
How are you Idrees
How are you Noman
How are you Kashif

In [9]:
# LOOKING INSIDE THE LIST, using index specified;
q = ['Abbas','Idrees','Noman','Kashif']
print(q[2])
print(q[0])
print(q[1])

Noman
Abbas
Idrees

In [12]:
# list are changable;
q = [2,3,5,8]   # 8 change into 56;
q[3] = 56
print(q)

[2, 3, 5, 56]

In [14]:
# Length of list;   (it show the number of elements in the list)
b = [2,4,6,'ali',[]]
print(len(b))

5

In [18]:
# using range() function;
print(range(7))
d = ['ali','umar','green','red','tomato']
print(len(d))
print(range(len(d)))

range(0, 7)
5
range(0, 5)

In [19]:
# adding of two list or concentrating of two list;\
a=[3,5,7]
b=[4,6,8]
c =a+b
print(c)

[3, 5, 7, 4, 6, 8]

In [22]:
# list can be slcied;
a = [2,3,56,7,3,5,74,67,33,7776,3,3,6,9]
a[3: ]

[7, 3, 5, 74, 67, 33, 7776, 3, 3, 6, 9]

In [23]:
# list can be slcied;
a = [2,3,56,7,3,5,74,67,33,7776,3,3,6,9]
a[ :8 ]

[2, 3, 56, 7, 3, 5, 74, 67]

In [24]:
# list can be slcied;
a = [2,3,56,7,3,5,74,67,33,7776,3,3,6,9]
a[1: 5]

[3, 56, 7, 3]

In [26]:
# list can be slcied;
a = [2,3,56,7,3,5,74,67,33,7776,3,3,6,9]
a[6:14]

[74, 67, 33, 7776, 3, 3, 6, 9]

In [28]:
# list methode;
x = list()
type(x)    #-->  list
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
# building a list from scratch;
a = list()
a.append (3)
a.append ('ali')
a.append (5)
a.append ('green')
a.append (366)
a.append (3.4)
print(a)

[3, 'ali', 5, 'green', 366, 3.4]

In [11]:
# is something  in  list;
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
3 in a

True

In [14]:
# is something  in  list;
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
13 in a

True

In [13]:
# is something  in  list;
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
20 not in a

True

In [12]:
# is something  in  list;
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
10 not in a

False

In [16]:
# list are in order;
a = ['boy','umar','kamran','zain','ali']
a.sort()
print(a)

['ali', 'boy', 'kamran', 'umar', 'zain']

In [19]:
# Build in function in list;
g = [1,2,4,9,20,30,50]
print(len(g))
print(sum(g))
print(max(g))
print(min(g))

7
116
50
1

In [25]:
# Build in function in list;
total = 0
count = 0
while True:
    a = input('Number:')
    if  a == 'done' : break
    value = float(a)
    v = total + value
    c = count + 1
average = v/c
print('Average',average)

Number:3
Number:6
Number:9
Number:4
Number:9
Number:56
Number:9
Number:9
Number:87
Number:done
Average 87.0

In [9]:
# string and list;
dd = 'what are you doing here'
ff = dd.split()
print(ff)

['what', 'are', 'you', 'doing', 'here']

In [5]:
ss = ['what', 'are', 'you', 'doing', 'here']
for r in ss:
    print(r)

what
are
you
doing
here

In [10]:
rr = 'how are          you'
gg = rr.split()
print(gg)

['how', 'are', 'you']

In [11]:
tt = 'what;are;your;name'
yy = tt.split()
print(yy)

['what;are;your;name']

In [13]:
ii = 'what;are;you;name'
hh = ii.split(';')
print(hh)

['what', 'are', 'you', 'name']

In [18]:
# double split;
# first one;
had = 'Connent switch A and B in seris ewith battery and bulb.'
will = had.split()
print(will)

['Connent', 'switch', 'A', 'and', 'B', 'in', 'seris', 'ewith', 'battery', 'and', 'bulb.']

In [3]:
# Now take a piece and split it;
had = 'Connent switch AandB in seris ewith battery and bulb.'
will = had.split()
dd = will[2]
ff = dd.split('and')
print(ff)

['A', 'B']