In [1]:
#  Tuples are like list;
d = ('hi','hello')
print(d[0])

hi

In [2]:
#  Tuples are like list;
g = (3,5,7,8)
print(g)

(3, 5, 7, 8)

In [7]:
#  Tuples are like list;
e = (1,6,9,12)
print(max(e))
print(min(e))
print(len(e))
print(sum(e))

12
1
4
28

In [18]:
# tuples in not changable;
s = [2,5,6,7] 
print(s)
s[1] = 9    # list (mutable)
print(s)

[2, 5, 6, 7]
[2, 9, 6, 7]

In [16]:
# tuples in not changable;
s = (4,3,6,7)  # dict  (immutable)
s[3] = 88
print(s)

TypeError: 'tuple' object does not support item assignment

In [13]:
# Tuple use as an assignment;
(x,y,z,a,b) = (2,3,4,'Hi','Hello')
print(z)
print(x)
print(y)
print(a)
print(y)
print(b)

4
2
3
Hi
3
Hello

In [23]:
# tuple and dict;
s = dict()
s['hi'] = 34
s['hello'] = 8
for (s,d) in s.items():
    print(s,d)

hi 34
hello 8

In [24]:
# tuple and dict;
s = dict()
s['hi'] = 34
s['hello'] = 8
t = s.items()
print(t)

dict_items([('hi', 34), ('hello', 8)])

In [4]:
# tuple compareble;
(2,3,4)<(4,5,6)

True

In [2]:
# tuple compareble;
(3,0,9)<(5,2,1)

True

In [4]:
# tuple compareble;
(2,3,4)>(4,5,6)

False

In [32]:
# sorting list of tuple;
d ={'a':2, 'c':19, 'b':23}
d.items()
sorted(d.items())

[('a', 2), ('b', 23), ('c', 19)]

In [36]:
# sorting list of tuple;  (direct methode)
a = {'c':2, 'a':19, 'b':23}
t = sorted(a.items())
print(t)

for (k,v) in sorted(a.items()):
    print(k,v)

[('a', 19), ('b', 23), ('c', 2)]
a 19
b 23
c 2

In [2]:
# sort by values instead of key;
c ={'c':2, 'a':19, 'b':23}
tmp = list()
for (k,v)  in c.items():
    tmp.append( (v,k))
print(tmp)

tmp = sorted(tmp, reverse=True)
print(tmp)

[(2, 'c'), (19, 'a'), (23, 'b')]
[(23, 'b'), (19, 'a'), (2, 'c')]

In [12]:
# sort by values instead of key;
f = open('yahya.txt')
g = dict()
for line in f:
    ws = line.split()
    for w in  ws:
        g[w] = g.get(w,0) + 1

j = list()
for (k,v) in g.items():
    t = (v,k)
    j.append(t)

j= sorted(j, reverse=True)
for (v,k) in j [:10] :
    print(v,k)

4 I:
3 am
2 you
2 to
2 are
1 yahya.
1 where
1 what
1 want
1 uni.

In [19]:
# for shoter version;
c = {'a':23, 'c':68, 'b':12}
print(sorted([(v,k) for  k,v in c.items()]))

[(12, 'b'), (23, 'a'), (68, 'c')]

In [2]:
# some work on tuples;
f = input('Enter file:')
h = open(f)
d = dict()   # list of dict
for line in h:
    ws = line.split()  # split all the line into words
    for w in ws:
        d[w] = d.get(w,0) + 1
print(d)

q = sorted(d.items())  # sorted tuples
print(q)

q = sorted(d.items()) # sorted top 5 word
print(q[:5])

q = sorted([(v,k) for k,v  in d.items()]) # use values instead of key of top 5 word
print(q[:5])

Enter file:yahya.txt
{'I:': 4, 'am': 3, 'yahya.': 1, 'go': 1, 'to': 2, 'uni.': 1, 'where': 1, 'are': 2, 'you': 2, 'form.': 1, 'what': 1, 'doing': 1, 'tewnty.': 1, 'I': 1, 'want': 1, 'play': 1, 'cricket.': 1, 'from': 1, 'kotha.': 1, 'He': 1, 'is': 1, 'eating': 1, 'the': 1, 'meal.': 1}
[('He', 1), ('I', 1), ('I:', 4), ('am', 3), ('are', 2), ('cricket.', 1), ('doing', 1), ('eating', 1), ('form.', 1), ('from', 1), ('go', 1), ('is', 1), ('kotha.', 1), ('meal.', 1), ('play', 1), ('tewnty.', 1), ('the', 1), ('to', 2), ('uni.', 1), ('want', 1), ('what', 1), ('where', 1), ('yahya.', 1), ('you', 2)]
[('He', 1), ('I', 1), ('I:', 4), ('am', 3), ('are', 2)]
[(1, 'He'), (1, 'I'), (1, 'cricket.'), (1, 'doing'), (1, 'eating')]